
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* Navigation styles */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 0px 50px;
  }
  .sign-in-btn {
    background-color: white;
    border-color: #006A50;
    font-weight: bold;
    font-size: 18;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;
  }

  /* header styles */
  .banner{
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 70px;
    padding: 60px;
    border-radius: 10px;
  }
  .banner-description p{
    color:rgba(14, 14, 14, 0.5);
  }
  .banner-description button{
    color: white;
    border: none;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 5px;
  }
 